body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: steelblue;
  text-decoration:none;
  border-bottom: 1px solid SteelBlue;
}


// Animate
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0
}
